* text=auto

*.c		text
*.cpp		text
*.h		text
*.hpp		text
*.inl		text

*.xcodeproj	text
*.pbxproj 	text
*.csproj  	text eol=crlf
*.sln     	text eol=crlf
*.vcxproj 	text eol=crlf


# Images should be treated as binary
# (binary is a macro for -text -diff)
*.png     	binary
*.jpg    	binary
*.sdf     	binary
